__pycache__/
venv/
model/__pycache__/
mobilenetv3_embedding.onnx
MiniLM/all-MiniLM.onnx
intentdbBuild.py
testIntentDb.py
MiniLM/*.json
MiniLM/*.pkl
MiniLM/*.onnx
MiniLM/*.yaml
whisper/*.json
whisper/*.onnx
whisper/*.npz
whisper/vosk-model-small-en-us-0.15
yoloServer/
FollowObject/*.onnx
logs/