__pycache__/
venv/
model/__pycache__/
mobilenetv3_embedding.onnx
MiniLM/all-MiniLM.onnx
intentdbBuild.py
testIntentDb.py
MiniLM/
whisper/*.json
whisper/*.onnx
whisper/*.npz
whisper/vosk-model-small-en-us-0.15